<!DOCTYPE html>
	<html>
		<head>
			<style>
				ul.header {
					list-style-type: square;
					width: 300px;
    					height: 100px;
					box-shadow: 10px 10px 5px #888888;
					color: purple;
				}
			</style>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		</head>
		<body>
			<nav>
	    		<ul class = "header">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resources">Resources</a></li>
        			<li><a href="/login">Login</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
